*~
.local/share/fonts/.uuid
.local/share/fonts/**/.uuid
.config/nvim/lazy-lock.json
.config/nvim/plugin
.config/tmux/plugins
.config/vifm/vifm-help.txt
.config/vifm/vifminfo.json
.config/zsh/.zsh_sessions
.config/zsh/.zcompdump
.config/zsh/.zcompcache
.config/zsh/.zsh_history
